.filter-button {
    border: none;
    background-color: inherit;
    font-size: 1.1rem;
    text-decoration: underline;
    cursor: pointer;
    margin: 1rem;
}

.header-data-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#head-filter {
    width: 90%;
    margin: auto;
}

#main-content {
    padding: 2rem 4rem 2rem 4rem;
}

#category-select {
    background-color: #ffffff;
    box-shadow: 5px
}

#platform-filter {}

#sort-by {}

#active {
    text-decoration: none;
    font-weight: bold;
}

h1 {
    padding: 1rem;
    margin: 0;
}