.styled-card {
    width: 15rem;
    min-height: 18rem;
    border: 1px solid black;
    cursor: pointer;
    background-color: #ffffff;

}

.styled-card:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.card-image {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

.card-image:hover {
    opacity: 50%;
}

.card-title {
    min-height: 3rem;
    border-top: none;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}